.dashboard{
    width: 100vw;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 1;
    }
    .content{
        margin-top: 70px;
    }
}