.dashboard{
    width: 100vw;
    min-width: 400px;
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 1;
    }
    .content{
        margin-top: 110px;
    }
}